.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  min-width: var(--spacing-10);
}

.input-full {
  width: 100%;
}

.input-label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: var(--spacing-3) var(--spacing-4);
  font-size: var(--font-size-base);
  border: 1px solid var(--border-light);
  border-radius: var(--radius-lg);
  background-color: var(--background-white);
  transition: all var(--transition-base);
}

.input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px var(--primary-light);
}

.input-with-start-icon {
  padding-left: var(--spacing-10);
}

.input-with-end-icon {
  padding-right: var(--spacing-10);
}

.input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--text-tertiary);
}

.input-icon-start {
  left: var(--spacing-3);
}

.input-icon-end {
  right: var(--spacing-3);
}

.input-error .input {
  border-color: var(--error);
}

.input-error .input:focus {
  border-color: var(--error);
  box-shadow: 0 0 0 3px var(--error-light);
}

.input-helper {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}

.input-helper-error {
  color: var(--error);
}